<ion-view title="חדרי אוכל">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
        <button class="button">
            Done
        </button>
    </ion-nav-buttons>

    <ion-content>
        <!-- The content of the page -->
        {{ branch }}
    <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="place in branch.places"
                ng-href="#/organizations/{{ organization.id}}/branches/{{ branch.id }}">
            <i class="icon ion-ios7-world-outline"></i>
            {{ place.name }}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>

    </ion-content>
</ion-view>

