<ion-view title="{{place.Foods[foodId].name}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goHome()">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div align="center">
            <a ng-href="#/places/{{ placeId }}/foods/{{foodId}}/img">
                <img class="food-thumbnail traffic-{{ place.Foods[foodId].traffic | number:0 }}"
                     ng-src="{{place.Foods[foodId].imageUrl}}" />
            </a>
        </div>

        <div align="center" class="col">
            <button class="button icon-left ion-thumbsup button-positive like-button"
                    ng-class="{'button-outline':place.Foods[foodId].likers[userId] !== true}"
                    ng-click="likeFood()">
                {{place.Foods[foodId].likes}}
            </button>

            <button class="button icon-left ion-thumbsdown button-assertive like-button"
                    ng-class="{'button-outline': place.Foods[foodId].likers[userId] !== false }"
                    ng-click="dislikeFood()" >
                {{place.Foods[foodId].dislikes}}
            </button>
        </div>

            </br>

            <div align="center" class="button-bar" style="padding:10px; padding-top: 0; margin-bottom:0; padding-bottom: 0;" >
                <a ng-click="reportHeavyTraffic()" ng-disabled="isReported" class="bold outline button-small button button-assertive">!!!עמוס</a>
                <a ng-click="reportMediumTraffic()" ng-disabled="isReported" class="bold outline button-small button button-energized">סביר</a>
                <a ng-click="reportLightTraffic()" ng-disabled="isReported" class="bold outline button-small button button-balanced">!!!אין תור</a>

            </div>
            <div class="get-report" ng-show="isReported">
                <p>
                    הדיווח התקבל, ניתן לדווח שוב בעוד:
                    {{ Clock | date:'mm:ss' }}
                </p>
            </div>
            <br/>
            <div class="list list-inset" dir="rtl" style="margin-bottom: 10px; margin-top:0;">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <textarea placeholder="כתוב תגובה..." ng-model="comment.text"></textarea>
                    </label>
                    <button class="button button-small button-calm" ng-click="submitComment()">שלח תגובה</button>
                </div>
                <br/>
                <div class="item item-divider" style="text-align: center">
                    תגובות
                </div>
                <div class="item item-avatar" style="overflow: visible; white-space: normal; text-overflow: inherit;font-size:0.9em; padding:10px; padding-right: 70px;" ng-repeat="(id, comment) in place.Foods[foodId].Comments | toArray | orderBy:'id':true" ng-show="comment!=null">
                    <img src="http://graph.facebook.com/{{ comment.userId }}/picture?type=square" style="right: 15px; height: 100%; width: auto;" />
                    <p style="white-space: normal; ">
                    <span style="font-size:1em; font-weight: bold;" class="me-{{ comment.userId == userId }}" ng-show="comment.userId == userId">אני:</span>
                    <span style="font-size:1em; font-weight: bold;" class="me-{{ comment.userId == userId }}" ng-show="comment.userId != userId">{{comment.displayName || "אורח"}}:</span>
                    {{ comment.content }}
                    </p>

                    <p style="font-size: 0.7em; color: #999;" dir="ltr">{{ comment.id | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                </div>
            </div>

    </ion-content>

</ion-view>