<ion-view title="Rate Food">

    <ion-content>
              <div align="center">
                  <img ng-src="" style="align-content: center; min-width: 160px; max-width: 160px;min-height: 160px; max-height: 160px; border: 4px solid red; border-radius: 100px; margin: 10px; background: white;" />
              </div>
                <br/>

            </div>
            <div align="center" class="col">
                <button class="reportButton button icon-left ion-thumbsup button-positive">Like</button>
                <button class="reportButton button icon-left ion-thumbsdown button-assertive">Dislike</button>




            </div>

            <div align="center" class="button-bar">
                <a class="button button-assertive">!!!עמוס</a>
                <a class="button button-energized">סביר</a>
                <a class="button button-balanced">!!!אין תור</a>
            </div>

    </ion-content>
</ion-view>