<ion-view title="{{place.Foods[foodId].name}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goHome()">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <img class="foodImage" ng-src="{{place.Foods[foodId].imageUrl}}">
            </div>
        </div>
    </ion-content>
</ion-view>