<ion-view title="סניפים">

    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goHome()">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>

    <ion-content>
        <!-- The content of the page -->
    <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="branch in organization.branches"
                ng-href="#/organizations/{{ organization.id}}/branches/{{ branch.id }}">
            <i class="icon ion-ios7-world-outline"></i>
            {{ branch.name }}
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>

    </ion-content>
    <div class="bar bar-footer">
        <div class="title"><img src='img/logo.png' height='50px'></div>

    </div>
</ion-view>

