<ion-view title="חדרי האוכל שלי"  hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="addPlaces()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-left item-icon-right"  ng-href="#/places/{{ place.id }}" ng-repeat="place in user.places">
                <img ng-src="{{ place.imageUrl }}" class="place-thumbnail traffic-{{ place.traffic | number:0 }}">

                <h2 ng-init="init(place, place.id, place.branchId)">
                    {{ place.name }}
                </h2>
                <p>
                    {{ place.organization[0].name }} / {{ place.branch[0].name }}
                </p>

                <ion-option-button class="button-assertive" ng-click="removePlace(place.id)">
                    <span class="removePlaceBtn"><i class="icon ion-minus"></i></span>
                </ion-option-button>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
