<ion-view title="חדרי האוכל שלי"  hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="addPlaces()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">

            <a class="item item-avatar item-icon-right"  ng-href="#/places/{{ place.id }}" ng-repeat="place in user.places" dir="rtl">
                <img ng-src="{{ place.imageUrl }}" style="height: 140%; width: auto;">
                <h2 ng-init="init(place, place.id, place.branchId)"> {{ place.name }} <i class="timetraffic-{{ place.traffic | number:0 }} icon ion-clock" >  </i></h2>
                <p>
                    {{ place.organization[0].name }}
                    /
{{ place.branch[0].name }}
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="title"><img src='img/logo.png' height='50px'></div>

    </div>
</ion-view>
