<ion-view title="חדרי האוכל שלי"  hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="logout()">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="addPlaces()">
            <i class="icon ion-plus"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
            <a class="item item-thumbnail-left item-icon-right"  ng-href="#/places/{{ place.id }}" ng-repeat="place in user.places" dir="rtl">
                <img ng-src="{{ place.imageUrl }}" class="place-thumbnail traffic-{{ place.traffic | number:0 }}">
                <div style="align-self: center; padding-right:5%">
                    <h2 ng-init="init(place, place.id, place.branchId)">
                        {{ place.name }}
                        <button ng-click="removePlace(place.id)"> </button>
                    </h2>
                    <p>
                        {{ place.organization[0].name }}/
                        {{ place.branch[0].name }}
                    </p>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
