/* Empty. Add your own CSS if you like */
.button-login {
    margin: auto;
    background: url('../img/active_404.png') no-repeat;
    background-size: 100%;
    width: 202px;
    height: 46px;
}

.button-login:active {
    background-image: url('../img/pressed_404.png');
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -101px;
    margin-top: -23px;
}

.reportButton{
    width: 100px;
    dir: 'RTL';
}

