/* Empty. Add your own CSS if you like */
.button-login {
    margin: auto;
    background: url('../img/active_404.png') no-repeat;
    background-size: 100%;
    width: 202px;
    height: 46px;
}

.button-login:active {
    background-image: url('../img/pressed_404.png');
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -101px;
    margin-top: -23px;
}

.XX{
    display: none;
    width: 300px;
}
.NotChecked-{
    display: inline;
}
.LikeButton-false{
    width: 120px;
    dir: 'RTL';
}
.LikeButtonDisable-false{
    width: 120px;
    dir: 'RTL';
    display: none;
}
.DisLikeButton-false{
    width: 120px;
    dir: 'RTL';
    display: none;
}
.DisLikeButtonDisable-false{
    width: 120px;
    dir: 'RTL';

}

.LikeButton-true{
    width: 120px;
    dir: 'RTL';
    display: none;
}
.LikeButtonDisable-true{
    width: 120px;
    dir: 'RTL';
  }
.DisLikeButton-true{
    width: 120px;
    dir: 'RTL';

}
.DisLikeButtonDisable-true{
    width: 120px;
    dir: 'RTL';
    display: none;
}

.LikeButton-{
    width: 120px;
    dir: 'RTL';
}

.LikeButton-{
    width: 120px;
    dir: 'RTL';
}
.LikeButtonDisable-{
    width: 120px;
    dir: 'RTL';
    display: none;
}
.DisLikeButton-{
    width: 120px;
    dir: 'RTL';

}
.DisLikeButtonDisable-{
    width: 120px;
    dir: 'RTL';
    display: none;
}

.traffic-1 {
    border: 4px solid green;
}

.traffic-2 {
    border: 4px solid orange;
}

.traffic-3 {
    border: 4px solid red;
}

