/* Empty. Add your own CSS if you like */
.button-login {
    margin: auto;
    background: url('../img/active_404.png') no-repeat;
    background-size: 100%;
    width: 202px;
    height: 46px;
}

.button-login:active {
    background-image: url('../img/pressed_404.png');
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -101px;
    margin-top: -23px;
}

.foodImage {
    width: 100%;
    height: auto;
    /*margin-left: 3%;*/
    /*margin-right: 3%;*/
}

.placeImgStyle {
    width: 100%;
    height: auto;
}

.divPlaceImgStyle {
    width: 12%;
    height: 9%;
    float: left;
}

.placeItem {
    margin-left: -3%;
}

.removePlaceBtn {
    font-family: "Helvetica Neue", "Helvetica", "Ariel";
    font-size: 20px;
    text-align: center;
}

.XX {
    display: none;
    width: 300px;
}

.NotChecked- {
    display: inline;
}

.like-button {
    min-width: 25%;
    max-width: 25%;
}

.traffic-1 {
    border: 5px solid green;
}

.traffic-2 {
    border: 5px solid orange;
}

.traffic-3 {
    border: 5px solid red;
}

.pic {
    outline-color: red;
    border-width: 5px;
    border-color: red;
}

.place-thumbnail {
    width: auto;
    height: 140%;
    border-radius: 10px;
}

.food-thumbnail {
    align-content: center;
    min-width: 160px;
    max-width: 160px;
    min-height: 160px;
    max-height: 160px;
    border-radius: 100px;
    margin: 10px;
    background: white;
}

.item-input-inset .item-input-wrapper textarea {
    padding-left: 4px;
    height: 31px;
    background: inherit;
    line-height: 18px;
}

[dir="rtl"] .item-input-wrapper ~ .button {
    margin-left: 0px;
    margin-right: 10px;
}

.me-true {
    color: cornflowerblue;
}

.me-false {
    color: darkorange;
}
.bold {
    font-weight: bold;
}

.outline {
    font-size: 1.1em;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}
h1.title {
    font-weight: bold;
}

.bar .right-buttons .button {
    font-size: 0.9em;
}

.bar-caterate, .bar-caterate > .tabs {
    background-color: #A00000 !important;
}